{% extends "base.html.twig" %}

{% block body %}

    {# 
    {% set prenom = 'Hocine' %} 
    création d'une variable prenom 
    #} 

    <h1> salut je suis {{ prenom }} </h1> {# affichage de la varibale prenom #}

{% endblock body %}